@font-face {  /*regular version of the font*/
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans.woff2) format('woff2'),
        url(../fonts/OpenSans.woff) format('woff');
}

@font-face { /* for lighter vesionof the font*/
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Light.woff2) format('woff2'),
        url(../fonts/OpenSans-Light.woff) format('woff');
        font-weight: 300;
}

@font-face { /* for semi-bold version of the font*/
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Semibold.woff2) format('woff2'),
        url(../fonts/OpenSans-Semibold.woff) format('woff');

        font-weight: 600;
}
@font-face { /* for bolder-version of the font*/
    font-family: 'Open Sans';
    src: url(../fonts/OpenSans-Bold.woff2) format('woff2'),
        url(../fonts/OpenSans-Bold.woff) format('woff');

        font-weight: 700;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient( rgb(13, 62, 136), rgba(0, 95, 236,0.5));
    color: white;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 22px;
}

.weather {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
    box-sizing: border-box;
    white-space: nowrap;

}

.weather_search {
    width: 100%;
    padding: 15px 10px;
    border: none;
    background-color: rgba(255,255,255,0.15);
    font-size: 20px;
    color: inherit;
    margin-bottom: 20px;
}

.weather_search::placeholder {
    color: rgb(172, 168, 168);
}

.weather_today {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.weather_image {
width: 30vmin; 
/* vmin is arelative unit of measurement and it runs according to the mode of ur smartphone screen whether it is in lanscape mode or it is in potrait mode*/
align-self: center;
}

.weather_city {
    font-size: 38px;
    font-weight: 600;
    margin: 20px 0;
}

.weather_day {
    font-size: 30px;
    margin: 10px 0;
    font-weight: 400;
}

.weather_indicator::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background-size: cover;
    margin-right: 10px;

}
.weather_indicator--humidity::before {
    background-image: url(../images/humidity.png);
}

.weather_indicator--wind::before {
    background-image: url(../images/wind.png);
}

.weather_indicator--pressure::before {
    background-image: url(../images/pressure.png);
}

.weather_temperature {
    font-size: 60px;
}

.weather_forecast {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    flex-wrap: wrap;

}
.weather_forecast_icon {
    max-width: 50%;
}

.weather_forecast_item {
    background-color: rgba(255,255,255,0.2);
    border-radius: 20px;
    margin: 0 10px 10px;
    padding: 10px 20px 10px;
    box-sizing: border-box;
    min-width: 150px;
    width: 15%;
    flex-grow: 1;
}